@model SecondFloor.Web.Mvc.Models.AnuncioViewModels


<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 id="myModalLabel" class="modal-title">&nbsp;@ViewBag.Title</h4>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.MessageType))
        {
            <div class="alert @ViewBag.MessageType fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small>@Html.Raw(ViewBag.Message)</small>
            </div>
        }

        <div id="myModalBody" class="modal-body">
            <div id="conteudo-modal">
                @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "myModal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>AnuncioViewModels</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-sm-3" })
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-sm-3" })

                            <div id="date-container1" class="form-inline">
                                <div id="dp1" class="input-group col-sm-3 date">
                                    @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = "", size = "10" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar small"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DataFim, htmlAttributes: new { @class = "control-label col-sm-3" })
                            
                            <div id="date-container2" class="form-inline">
                                <div id="dp2" class="input-group col-sm-3 date">
                                    @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control  datepicker", @readonly = "", size = "10" } })
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar small"></span></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.DataFim, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-sm-3" })
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.AnuncianteId)

                        <!--<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>-->
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer form-horizontal">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
            <a id="criarEndereco" onclick="ajaxFormSubmit(this)" href="#" role="button" class="btn btn-sm btn-danger">Salvar</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    //http://eternicode.github.io/bootstrap-datepicker/
    $(document).ready(function () {
        $('#date-container2 #dp2').datepicker({
            format: "dd/mm/yyyy",
            startView: 0,
            //todayBtn: "linked",
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });

        $('.selectpicker').selectpicker();
    })

    $(document).ready(function () {
        $('#date-container1 #dp1').datepicker({
            format: "dd/mm/yyyy",
            startView: 0,
            //todayBtn: "linked",
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });

        $('.selectpicker').selectpicker();
    })
</script>

