@model IEnumerable<SecondFloor.Web.Mvc.Models.AnuncioViewModels>

<h4>@ViewBag.Title</h4>
<p>
    <button type="button" onclick="ajaxModalFormOpenHandler(this)" class="btn btn-sm btn-default"
            data-url="/Anuncio/Create/@ViewBag.AnuncianteId"
            data-url-content-update="/Anuncio/List/@ViewBag.AnuncianteId"
            data-content-update-id="#conteudoAnuncianteAnuncio">
        Novo Anuncio
        <!--<i class="glyphicon glyphicon-plus"></i>-->
    </button>
</p>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>

            <th>Produtos Listados</th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @switch (item.Status)
                    {
                        case "Cadastrado":
                            <i class="glyphicon glyphicon glyphicon-warning-sign"></i>
                            break;
                        case "Agendado":
                        <i class="glyphicon glyphicon-dashboard"></i>
                            break;
                        case "PublicadoAlterado":
                        <i class="glyphicon glyphicon-ok"></i><i class="glyphicon glyphicon-dashboard"></i>
                            break;
                        case "Publicado":
                        <i class="glyphicon glyphicon-ok"></i>
                            break;
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro) 
                    , 
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>Produtos listados</td>
                <td class="text-center">
                    @switch (item.Status)
                    {
                        case "Cadastrado":
                            <button type="button" onclick="ajaxModalFormOpenHandler(this)" class="btn btn-sm btn-success disabled"
                                    data-url="/Anuncio/Publish/@Html.DisplayFor(id=>item.Id)"
                                    data-url-content-update="/Anuncio/List/@Html.DisplayFor(id=>item.Id)"
                                    data-content-update-id="#conteudoAnuncianteAnuncio">
                                Publicar
                            </button>
                            break;
                        case "Agendado":
                        <button type="button" onclick="ajaxModalFormOpenHandler(this)" class="btn btn-sm btn-warning disabled"
                                data-url="/Anuncio/Edit/@Html.DisplayFor(id=>item.Id)"
                                data-url-content-update="/Anuncio/List/@Html.DisplayFor(id=>item.Id)"
                                data-content-update-id="#conteudoAnuncianteAnuncio">
                            Alterar
                        </button>
                            break;
                        case "PublicadoAlterado":
                        <button type="button" onclick="ajaxModalFormOpenHandler(this)" class="btn btn-sm btn-warning disabled"
                                data-url="/Anuncio/Edit/@Html.DisplayFor(id=>item.Id)"
                                data-url-content-update="/Anuncio/List/@Html.DisplayFor(id=>item.Id)"
                                data-content-update-id="#conteudoAnuncianteAnuncio">
                            Alterar
                        </button>
                            break;
                        case "Publicado":
                        <button type="button" onclick="ajaxModalFormOpenHandler(this)" class="btn btn-sm btn-danger disabled"
                                data-url="/Anuncio/Edit/@Html.DisplayFor(id=>item.Id)"
                                data-url-content-update="/Anuncio/List/@Html.DisplayFor(id=>item.Id)"
                                data-content-update-id="#conteudoAnuncianteAnuncio">
                            Alterar
                        </button>
                            break;
                        default:
                            break;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
