@using SecondFloor.I18n
@model SecondFloor.Web.Mvc.Models.ProdutoViewModels

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 id="myModalLabel" class="modal-title">&nbsp;@ViewBag.Title</h4>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.MessageType))
        {
            <div class="alert @ViewBag.MessageType fade in">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small>@Html.Raw(ViewBag.Message)</small>
            </div>
        }

        <div id="myModalBody" class="modal-body">
            <div id="conteudo-modal">

                @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "myModal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.NomeProduto, htmlAttributes: new { @class = "control-label col-md-2" })
                            @if (!ViewBag.Excluir)
                            {
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NomeProduto, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.NomeProduto, "", new {@class = "text-danger"})
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.NomeProduto)
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                            @if (!ViewBag.Excluir)
                            {
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Descricao, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new {@class = "text-danger"})
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Descricao)
                                </div>
                            }
                        </div>

                        <!--<div class="form-group">
                            @Html.LabelFor(model => model.Referencia, htmlAttributes: new { @class = "control-label col-md-2" })
                            @if (!ViewBag.Excluir)
                            {
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Referencia, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Referencia, "", new {@class = "text-danger"})
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Referencia)
                                </div>
                            }
                        </div>-->

                        <div class="form-group">
                            @Html.LabelFor(model => model.Fabricante, htmlAttributes: new { @class = "control-label col-md-2" })
                            @if (!ViewBag.Excluir)
                            {
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Fabricante, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Fabricante, "", new {@class = "text-danger"})
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Fabricante)
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
                            @if (!ViewBag.Excluir)
                            {
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Valor, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(model => model.Valor, "", new {@class = "text-danger"})
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    @Html.DisplayFor(model => model.Valor)
                                </div>
                            }
                        </div>

                        
                        @Html.HiddenFor(model => model.AnuncianteId)
                        <!--<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>-->
                    </div>
                }
            </div>
        </div>
        <div class="modal-footer form-horizontal">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">@Resources.View_Produto_ProdutoPartialView_Botao_Cancelar</button>
            <a id="criarEndereco" onclick="ajaxFormSubmit(this)" href="#" role="button" class="btn btn-sm btn-danger">@Resources.View_Produto_ProdutoPartialView_Botao_Salvar</a>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

